.add-user {
    width: 400px;
    margin: auto;
    margin-top: 50px;
}

.user-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.user-form input,
.user-form select {
    padding: 10px;
}

.form-buttons {
    display: flex;
    gap: 10px;
}

.save-btn {
    background: green;
    color: white;
}