.header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  background:#ffc49a;
}

/* Banner chiếm 1 phần */
.Bannerpj {
  flex: 2;
  max-height: 80px;
  object-fit: contain;
}

/* Search chiếm 2 phần */
.header form {
  flex: 2;
  display: flex;
}

.search {
  flex: 1;
  padding: 15px 15px;
  border: 1px solid #ddd;
  border-right: none;
  border-radius: 25px 0 0 25px;
  outline: none;
}

/* Button search màu cam */
.icon-search {
  background-color: #ff6a00;
  border: none;
  padding: 8px 15px;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  font-size: 16px;
}

.icon-search:hover {
  background-color: #ff8c00;
}

/* Login chiếm 1 phần */
.login {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 50px;
  gap: 8px;
  font-weight: bold;   /* chữ đậm */
  cursor: pointer;
  
}

.login span:hover{
  color: #ff6a00;
}

.login img {
  width: 35px;
  height: 35px;
  border-radius: 25px;
}

/* Card chiếm 1 phần */
.Borrow {
  flex: 1;
  text-align: center;
  font-weight: bold;   /* chữ đậm */
  cursor: pointer;
}
.Borrow:hover{
  color: #ff6a00;
}

.navbar {
  display: flex;
  background: #ff6a00;
  color: white;
  padding: 10px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding-left: 90px;
  padding-right: 50px;
}
.navbar span{
  cursor: pointer;
  transition: all 0.2s ease;
}

.navbar span:hover{
  color: white;
  transform: scale(1.1);
  transition: all 0.2s ease;
}

.category-sidebar{
  background: transparent;
  display: flex;
  align-items: center;

}

.category-dropdown{
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.category-dropdown:hover{
  transform: scale(1.1) ;
  transition: all 0.3s ease;
}

.category-dropdown option{
  color: black;
}

.category-item {
  color: black;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.banner img {
  width: 800px;
  margin-left: 70px;
  margin-top: 10px;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
}

.book-card img {
  align-items: center;
  width: 80%;
  /* height:"200px"; */
  object-fit: cover;
}